<section>
    <p class="notes">{{{description}}}</p>
    <div class="form-group">
        {{#each tabs}}
        <div class="form-fields">
            <input type="checkbox" name="{{this.id}}" id="{{this.id}}" {{#if this.checked}}checked{{/if}}>
            <label for="{{this.id}}">{{this.label}}</label>
        </div>
        {{/each}}
    </div>
</section>